.grid-container {
    display: grid;

    /* grid-template-columns: 400px 400px; */
    /* grid-template-columns: auto-fit; */
    width: 95%;
    justify-items: center;
    column-gap: 70px; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px; 
    /* border-width: 2px;
    border-color: blue; */

  }

  .image-container {
    width: 370px; 
    height: 370px; 

    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .image {

    max-width: 100%; 
    max-height: 100%; 

    border-radius: 3%
  }

  .doctor-name {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    margin-top: 3rem;
  }
  
  @media (min-width: 1024px) {
    .my-element {
      font-size: 26px;
      line-height: 9;
      margin-top: 5rem;
    }
  }